@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Patua+One&family=Poppins:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    gap: 25px;
    background: rgba(0, 0, 0, 0.392);
    box-sizing: border-box;
}

.navbar-brand {
    font-family: 'Patua One', cursive;
    font-weight: bold;
    letter-spacing: 4px;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.link {
    position: relative;
    display: inline-block;
    text-transform: uppercase;

}

.link::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.25s;

}

.link:hover::before {
    scale: 1;
}

/* Carousel */

.carousel-caption h5 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 80px;
    text-align: left;
    font-family: 'Patua One', cursive;
    margin-top: -900px;
}

.carousel-caption p{
    font-size: 20px;
    color: white;
    text-align: left;
    padding-top: 40px;
}

/* cards body */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
}
@media(max-width:768px){
    .flip-card{
        width: 500px;
        height: 340px;
        margin-left: 40px;
        margin-bottom: 80px;
    }
    .flip-card-front img{
        width: 100%;
        height: 100%;
    }
}
@media(min-width:820px){
    .flip-card{
        margin-left: 200px;
    }


}
.tour_cards h1 {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-size: xx-large;
    font-family: 'Patua One', cursive;
    font-weight: 60px;
    text-transform: uppercase;
}

.flip-card-inner {

    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

.flip-card-front {
    background-image: linear-gradient(45deg, #f2f2f2, #d9d9d9, #bfbfbf, #ffffff);

}

.flip-card-front img {
    width: 250px;
    height: 300px;
    margin-top: 1rem;
    border-radius: 10px;
}

.flip-card-back {
    background-image: linear-gradient(31deg, gray, black);
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: 250px;
    height: 250px;
    margin-top: 1rem;
    border-radius: 10px;
}

.flip-card-back h3 {
    margin-bottom: 0.3rem;
}

.flip-card-back h1 {
    margin: 0;
}
/* scnd_body */

.head_text{
    font-family: 'Patua One', cursive;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.vdcard{
    transition: 1s ease-in-out;
}
.vdcard:hover{
    transform: scale(1.1);
}
@media(max-width:768px){
    .vdcard{
        transition: 1s ease-in;
    }
    .vdcard:hover{
        transform: scale(1);
    }
}
/* footer */

.footer_body h1{
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font-family: 'Patua One', cursive;
    font-weight: bold;
    letter-spacing: 2px;

}
.logo{
    display: flex;
    justify-content: space-evenly;
}



